/*prerequisites------------------------------------------------------------------*/
/*defaults needed elements' margin to 0, fixes weird white spaces*/
body,html {margin: 0px}
p,h1,h2,h3,h4,h5,h6{margin: 0px}

/*clearfix hack*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*fixes issues concerning body not having full height*/
/*ultimately fixes page2 sticky position not working*/
html {
    width: 100%;
    height: 100%;
    display: table;
}
body {
    width: 100%;
    display: table-cell;
}
/*I thank user OwN in stackoverflow for this solution*/

/*formatting---------------------------------------------------------------------*/
/*banner*/
section.banner {
	width: 100%;
	position: relative;
}
section.banner h6{
	font-size: 45pt;
}
section.banner div{
	font-family: "Gideon Roman", display, serif;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 50pt;
	margin: 0;
}
section.banner p {
	font-size: 20pt;
}
section.banner > p {
	position: absolute;
	bottom: 0px;
	margin: 10px;
	color: white;
}
section.banner a:{text-decoration:none}
section.banner a:link{color: lightblue}
section.banner a:visited{color: blue}
section.banner a:hover{color: rgb(230, 255, 255)}


/*header*/
header {
	margin: 0px;
	position: fixed;
	color: white;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	padding-left:20px;
	top: 0px;
	background: black url("../images/smokesource.png") no-repeat 0px -80px;
	z-index: 10;
	font-family: "Gideon Roman", display, serif;
}
header a {
	text-decoration: none;
	color: white;
}

/*replaces "The Mist Archives" with "To Home" when you hover over it*/
header a h1:nth-child(2)       {display: none;}
header a:hover h1:nth-child(1) {display: none;}
header a:hover h1:nth-child(2) {display: inline;}
/**/


/*Navigation*/
nav {
	box-sizing: border-box;
	position: sticky;
	top: 60px;
	z-index: 10;
}
nav div {
	box-sizing: border-box;
	background-color: black;
	border: 2px solid white;
	border-top: 0px; 
	width: 33.33%;
	float: left;
	transition: transform 0.2s;
}
nav p {
	text-align: center;
	padding: 10px 0;
}
nav a {
	color: white;
	
}
nav a:hover div{
	background: #0d0d0d url("../images/bluemist3.png") no-repeat -10px -100px;
	transform: scale(105%)
}


/*footer*/
footer {
	box-sizing: border-box;
	height: 150px;
	width: 100%;
	background-color: black;
	color: white;
	padding: 10px 100px 0px 100px;
	float: right;
}
footer > div {
	width: 20%;
}
.sprite {
	width: 25px;
	height: 25px;
	float: left;
	transform: scale(1.5,1.5);
	margin: 10px;
}
.fb {
	background: url('../images/sprites.png') no-repeat -51px -101px;
}
.github {
	background: url('../images/sprites.png') no-repeat -452px -100px;
}
.yt {
	background: url('../images/sprites.png') no-repeat -1px -251px;
}
footer a:hover div {
	transform: scale(1.5,1.5) translate(0,-15%);
}