/*About the Navigations*/
section.desc > article {
	float: left;
	width: 25%;
	box-sizing: border-box;
}
section.desc article > p {
	margin: 0% 15%;
	border: 3px double black;
	padding: 5px;
}
section.desc img {
	display: block;
	margin: 10px auto;
	width: 60%;
}
#source p {
	padding: 0px 20%;
	margin-top: -10px;
}


/*About the Book*/
section.book {
	background: black url("../images/smokesource.png") no-repeat -150px -150px;
	color: white;
	margin-top: 50px;
}
section.book article {
	float: left;
	margin: 20px 5%;
	width: 67%;
}
section.book img {
	margin: 20px 0 20px 5%;
	width: 17%;
	float: left;
}

/*About the Author*/
section.author {
	background: white url("../images/smokesource.png") no-repeat;
	background-position: right -150px top -150px;
}
section.author article{
	box-sizing: border-box;
	float: right;
	width: 40%;
	text-align: right;
	margin: 20px 5%;
}
section.author video {
	display: block;
	box-sizing: border-box;
	float: right;
}
section.author #medholder {
	box-sizing: border-box;
	width: 45%;
	float: right;
	margin: 20px 5% 20px 0;
}
section.author #medholder p {
	clear: right;
}
