/*About the Navigations*/
.desc > article {
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.desc article > p {
	margin: 0% 15%;
	border: 3px double black;
	padding: 5px;
}
section.desc img {
	display: block;
	margin: 10px auto;
	width: 60%;
}
#source p {
	padding: 0px 20%;
	margin-top: -10px;
}


/*About the Book*/
section.book {
	background: black url("../images/smokesource.png") no-repeat -150px -150px;
	color: white;
	margin-top: 50px;
}
section.book > p, section.book > h1{
	float: left;
	margin: 20px 0% 20px 5%;
	width: 50%;
}
section.book > img {
	display: block; 
	float: left;
	width: 300px;
	margin: 20px 5% 50px 10%;
}


/*About the Author*/
section.author {
	background: white url("../images/smokesource.png") no-repeat;
	background-position: right -150px top -150px;
}
section.author > p, section.author > h1{
	float: right;
	margin: 20px 5% 20px 0%;
	width: 50%;
	text-align: right;
}
section.author > img {
	display: block; 
	float: right;
	width: 500px;
	margin: 20px 10% 20px 5%;
}
